.idea/*

cmake-build-debug/*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.lol
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Beamer auxiliary files:
*.nav
*.snm

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
